---

---

<section id="education" class="max-md:w-full w-5/6 mx-auto mt-48">
  <div class="flex flex-col items-center">
    <h1
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="mb-8 font-extrabold text-center text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-[#d7d7d7] to-[#616161] sm:text-3xl md:text-5xl"
    >
      Education
    </h1>
    <div class="flex gap-2 justify-center mt-8 max-md:w-5/6 w-3/4">
      <span class="w-1 bg-primary bg-opacity-25 rounded-md"></span>

      <div class="text-primary font-semibold flex flex-col gap-y-8">
        <!-- <img class="w-16" src="https://cdn-icons-png.flaticon.com/512/2942/2942544.png" alt=""> -->
        <div class="flex gap-8 h-full items-center">
          <span
            data-aos="fade-right"
            class="-ml-[16px] absolute inline-flex w-3 h-3 rounded-full bg-orange-400 opacity-75"
          ></span>
          <div
            data-aos="fade-up"
            class="w-full justify-center flex flex-row border-primary/10 border-[1px] bg-primary/10 py-4 bg-opacity-10 px-8"
          >
            <div class="max-md:text-sm text-xl font-normal flex flex-col">
              <h1>B.Tech in ICT</h1>
              <p class="font-semibold mt-1">
                from <span class="text-indigo-300">
                  Dhirubhai Ambani Institute of Information and Communication
                  Technology
                </span>
              </p>
              <ul class="mt-3 ml-5 list-disc">
                <li>
                  <p>Oct 2022 - Present</p>
                </li>
                <li>
                  <p>
                    CGPA - <span class="font-semibold text-indigo-300"
                      >8.17
                    </span><span class="text-sm">/ 10</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="flex gap-8 h-full items-center">
          <span
            data-aos="fade-right"
            class="-ml-[16px] absolute inline-flex w-3 h-3 rounded-full bg-primary opacity-75"
          ></span>
          <div
            data-aos="fade-up"
            class="w-full justify-start flex flex-row border-primary/10 border-[1px] bg-primary/10 py-4 bg-opacity-10 px-8"
          >
            <div class="max-md:text-sm text-xl font-normal flex flex-col">
              <h1>Class 12th (GSEB)</h1>
              <p class="font-semibold mt-1">
                from <span class="text-indigo-300">
                  P.P Savani Abrama CFE
                </span>
              </p>
              <ul class="mt-3 ml-5 list-disc">
                <li>
                  <p>May 2022</p>
                </li>
                <li>
                  <p>
                    Percentage - <span class="font-semibold text-indigo-300"
                      >86.61%
                    </span>
                    (Percentile - 98.90)
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="flex gap-8 h-full items-center">
          <span
            data-aos="fade-right"
            class="-ml-[16px] absolute inline-flex w-3 h-3 rounded-full bg-green-400 opacity-75"
          ></span>
          <div
            data-aos="fade-up"
            class="w-full justify-start flex flex-row border-primary/10 border-[1px] bg-primary/10 py-4 bg-opacity-10 px-8"
          >
            <div class="max-md:text-sm text-xl font-normal flex flex-col">
              <h1>Class 10th (GSEB)</h1>
              <p class="font-semibold mt-1">
                from <span class="text-indigo-300">
                  Rosary English Academy
                </span>
              </p>
              <ul class="mt-3 ml-5 list-disc">
                <li>
                  <p>May 2020</p>
                </li>
                <li>
                  <p>
                    Percentage - <span class="font-semibold text-indigo-300"
                      >85.67%
                    </span>
                    (Percentile - 98.85)
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
