---

---

<section id="positions" class="max-md:w-full w-5/6 mx-auto mt-48">
  <div class="flex flex-col items-center">
    <h1
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
      class="mb-8 font-extrabold text-center text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-[#d7d7d7] to-[#616161] sm:text-3xl md:text-5xl"
    >
      Positions of Responsibility
    </h1>
    <div class="flex gap-2 justify-center mt-16 max-md:w-5/6 w-3/4">
      <span class="w-1 bg-primary bg-opacity-25 rounded-md"></span>
      <div class="flex flex-col gap-y-8 w-full">
        <!-- Programming Club -->
        <div class="text-primary font-semibold">
          <div class="flex gap-8 h-full items-center">
            <span
              data-aos="fade-right"
              class="-ml-[16px] absolute inline-flex w-3 h-3 rounded-full bg-primary opacity-75"
            ></span>
            <div
              data-aos="fade-up"
              class="flex flex-row border-primary/10 border-[1px] bg-primary/10 py-4 bg-opacity-10 max-md:px-2 px-8 w-full"
            >
              <div
                class="max-md:hidden visible flex items-center justify-center h-12 w-12 min-w-[3rem] text-3xl font-bold text-p-500"
              >
                <img
                  src="/VrajDobariya.github.io/programmingclublogo.png"
                  alt="Programming Club"
                  class="h-15 w-15 object-contain"
                />
              </div>
              <div class="flex flex-col ml-6 w-full">
                <div
                  class="flex max-md:flex-col flex-row max-md:text-base text-2xl justify-between"
                >
                  <div class="flex flex-col">
                    <h1>Convenor</h1>
                    <p>
                      At <span class="text-indigo-300"
                        >Programming Club, DA-IICT</span
                      >
                    </p>
                  </div>
                  <p class="mt-2 text-right max-md:text-left">
                    Aug 2024 - May 2025
                  </p>
                </div>
                <span
                  class="h-0.5 mt-4 w-full bg-primary bg-opacity-25 rounded-md"
                ></span>
                <p class="mt-4 max-md:text-sm text-xl font-light">
                  Leadership, Problem Setting, Solving and Testing. Led the
                  programming community, organizing contests and workshops.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Academic Committee -->
        <div class="text-primary font-semibold">
          <div class="flex gap-8 h-full items-center">
            <span
              data-aos="fade-right"
              class="-ml-[16px] absolute inline-flex w-3 h-3 rounded-full bg-primary opacity-75"
            ></span>
            <div
              data-aos="fade-up"
              class="flex flex-row border-primary/10 border-[1px] bg-primary/10 py-4 bg-opacity-10 max-md:px-2 px-8 w-full"
            >
              <div
                class="max-md:hidden visible flex items-start justify-center h-12 w-12 min-w-[3rem] text-3xl font-bold text-a-500"
              >
                <img
                  src="/VrajDobariya.github.io/academicCommittee.png"
                  alt="Academic Committee"
                  class="h-15 w-15 object-contain"
                />
              </div>
              <div class="flex flex-col ml-6 w-full">
                <div
                  class="flex max-md:flex-col flex-row max-md:text-base text-2xl justify-between"
                >
                  <div class="flex flex-col">
                    <h1>Core Member</h1>
                    <p>
                      At <span class="text-indigo-300"
                        >Academic Committee, DA-IICT</span
                      >
                    </p>
                  </div>
                  <p class="mt-2 text-right max-md:text-left">
                    Aug 2023 - May 2024
                  </p>
                </div>
                <span
                  class="h-0.5 mt-4 w-full bg-primary bg-opacity-25 rounded-md"
                ></span>
                <p class="mt-4 max-md:text-sm text-xl font-light">
                  Dispute resolution and Communication. Facilitated academic
                  operations.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
